@charset "UTF-8";
/*确认弹出框*/
.confirmMode {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 34;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.confirmPop {
  width: 72%;
  position: fixed;
  background: #fff;
  top: 55%;
  left: 14%;
  z-index: 35;
  border: 1px solid #d9d9d9;
}
.confirmPop .confirmTitle {
  text-align: center;
  font-size: 0.4rem;
  height: 0.85rem;
  line-height: 0.85rem;
}
.confirmPop .confirmCon {
  text-align: center;
  font-size: 0.4rem;
  padding: 0 0.3rem 0.3rem 0.3rem;
  line-height: 180%;
}
.confirmPop .confirmFoot {
  text-align: center;
  font-size: 0.36rem;
  height: 1.2rem;
  line-height: 1.2rem;
  padding-bottom: 0.7rem;
}
.confirmPop .confirmFoot .con-buttom {
  width: 3.2rem;
  height: 1.16rem;
  line-height: 1.2rem;
  margin: 0 0.19rem;
  font-size: 0.36rem;
  background-color: #005691;
  border-bottom: 0.04rem solid #008ecf;
  text-align: center;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}
.confirmPop .confirmFoot .con-buttom-disabled {
  border-bottom: 0.04rem solid #cccccc;
  background-color: #d9d9d9;
  color: #fff;
  text-decoration: none;
}
.confirmPop .confirmClose {
  background-repeat: no-repeat;
  background-image: url(../../images/public/public-icons.png);
  background-size: 9.01rem 10.28rem;
  background-position:0 0;
  position: absolute;
  width: 0.26rem;
  height: 0.26rem;
  top: 0.42rem;
  right: 0.4rem;
  display: block;
}

/*新版确人弹窗*/

.pop-confirmPop {
  width: 72%;
  height:4.6rem;
  position: fixed;
  background: #fff;
  top: 50%;
  left: 14%;
  margin-top:-2.6rem;
  z-index: 35;
  border: 1px solid #d9d9d9;
  border-radius: 1px;
}
.pop-confirmPop-min{
  width: 46%;
  height:2.8rem;
  left: 27%;
  margin-top:-1.4rem;
}
.pop-confirmPop .pop-confirmTitle {
  text-align: center;
  font-size: 0.4rem;
  height: 0.85rem;
  line-height: 0.85rem;
}
.pop-confirmPop .pop-confirmCon {
  text-align: center;
  font-size: 0.4rem;
  padding: 0 0.3rem 0.3rem 0.3rem;
  line-height: 180%;
}
.pop-confirmPop .pop-confirmFoot {
  text-align: center;
  font-size: 0.36rem;
  height: 1.2rem;
  line-height: 1.2rem;
  padding-bottom: 0.7rem;
}
.pop-confirmPop .pop-confirmFoot .pop-confirmBtn, .pop-confirmPop .pop-confirmFoot .pop-confirmCancel {
  width: 3.2rem;
  height: 1.16rem;
  line-height: 1.2rem;
  margin: 0 0.19rem;
  font-size: 0.36rem;
  background-color: #005691;
  border-bottom: 0.04rem solid #008ecf;
  text-align: center;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}
.pop-confirmPop .pop-confirmFoot .pop-confirmCancel {
  border-bottom: 0.04rem solid #cccccc;
    background-color: #d9d9d9;
    color: #fff;
    text-decoration: none;
}
.pop-confirmPop .pop-confirm-close {
  top: 0rem;
  right: 0rem;
  position: absolute;
  width:1rem;
  height:1rem;
}

.pop-confirmPop .pop-confirm-close .pop-close-icon{
  background-repeat: no-repeat;
  background-image: url(../../images/public/public-icons.png);
  background-size: 9.01rem 10.28rem;
  /*background: url(../../images/public/btn-close.png) no-repeat;*/
  background-position: 0 0;

  width: 0.26rem;
  height: 0.26rem;
  display: block;
  margin:0.37rem;
}
  




/*定制弹窗*/

.pop-prize{
  width: 80%;
  position: fixed;
  top: 50%;
  left: 10%;
  z-index: 35;
  /*height:6.5rem;*/
  margin-top:-3.3rem;
}
.pop-prize-mode{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 34;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.pop-prize-header{
  width:100%;
  height:1.53rem;
  line-height:1.1rem;
  /*background-image: url("../../images/public/pop-gift-title.png");
  background-size:100% 100%;
  background-repeat:no-repeat;*/
  background-repeat: no-repeat;
  background-image: url(../../images/public/public-icons.png);
  background-size: 9.01rem 10.28rem;
  background-position: 0 -7.61rem;

  position: relative;
  text-align:center;
  font-size:0.7rem;
  z-index: 2;
  color:#fff;
}
.pop-prize-cont{
  width:81%;
  //height:4.55rem;
  margin:-0.5rem auto 0 auto;
  background: #fff;
  border-radius:0px 0.07rem;
  padding-top:0.8rem;
  font-size:0.4rem;
  color:#000;
  text-align: center;
  line-height: 180%;
  padding-bottom:0.4rem;
}
.prize-show-style{
  background-color:#005691;
  width:2.28rem;
  height:0.92rem;
  line-height: 0.92rem;
  color:#fff;
  text-decoration: none;
  display:inline-block;
  /*border-radius: 0.1rem;*/
  font-size:0.46rem;
  font-weight:bold;
}
.pop-prize-cont-txt{
  padding:0.55rem 0 0.55rem 0;
  min-height: 1.42rem;
}
.pop-prize-cont-txt i.ver-i{
  min-height: 1.42rem;
  display:inline-block;
  vertical-align: middle;
  width:0px;font-size:0px;overflow:hidden;
}
.pop-prize-cont-txt span.ver-span{
  display:inline-block;
  vertical-align: middle;
}
.pop-prize-btn-box{
  padding:0.1rem 0 0.1rem 0;
  text-align: center;
}
.pop-prize-btn-box a{
  display:inline-block;
  height:0.6rem;
  line-height: 0.6rem;
}
.pop-btn-a-link{
  color:#005691;
  font-size:0.36rem;
}
.pop-prize-cont-txt .num-bsx{
  padding:0px 0.15rem;
  font-size:0.6rem;
  color:#e20015;
}
