@charset 'UTF-8';

.info-edit-page
{
    padding-top: 1.35rem;
}

.dealer-success .info-edit-page{
    padding-top: 2.22rem;
}

.dealer-success .dealer-edit-cont-info{
    margin-top: 0.85rem;
}

.logo-box
{
    text-align: center;
}

.logo-box img
{
    width: 1.49rem;
}

.dealer-edit-cont-title
{
    font-size: .44rem;
    line-height: 1.3rem;
    width: 4.8rem;
    height: 1.3rem;
    margin: 0 auto;
}

.owner-edit .dealer-edit-cont-btn
{
    padding-top: .7rem;
}

.owner-edit .dealer-edit-cont-title
{
}
.owner-edit .dealer-edit-cont-info{
    margin-top:0.9rem;
    padding-bottom: 0.8rem;
    margin-bottom: 0.2rem;
}
.dealer-edit-cont-info{
    border-radius:  0.1rem;
  border: 0.1rem solid #191e6c;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color:#191e6c;
  width: 7.4rem;
  margin:0.2rem auto 0 auto;
  padding: 0.35rem 0;
}

.dealer-edit-cont-info.dealer-error{
      border: 0.1rem solid #fc7070;
}
.dealer-success-info{
    height: 5rem;
    text-align:center;
    display: flex;
    align-items:center;
}
.dealer-success-info::after{
    height: 5rem;
    width:0;
    overflow:hidden;
    display:inline-block;
    vertical-align: middle;
    content:'';
}
.success-info-middle{
    display:inline-block;
    vertical-align: middle;
    font-size:1rem;
    text-indent: 0.7rem;
     letter-spacing: 0.15rem;
    /*text-shadow: 0 0 0.1rem #333;*/
}
.dealer-error .success-info-middle{
    color:#fc7070;
}
.dealer-error .success-info-text{
    padding-top: 0.3rem;
    color:#fc7070;
    font-size: 0.4rem;
}
.dealer-error .btn-success-form{
     border: 0.1rem solid #fc7070;
     color:#fc7070;
}

.btn-success-form{
    width: 4.24rem;
    height: 0.8rem;
    line-height: 0.8rem;
    display: inline-block;
    color: #191e6c;
    font-size: 0.44rem;
    font-weight: 100;
    margin-bottom: 0.3rem;
}
.dealer-edit-cont-info td
{
    font-size: .24rem;
    /*padding-bottom: .21rem;*/
    vertical-align: top;
}


td.edit-title
{
    font-size: .38rem;
    padding: 0.1rem 0 ;
    text-align: center;
}

td.edit-cont
{
    text-align: center;
    vertical-align: middle;
}

.edit-cont-box{
    width: 5.1rem;
    margin:0 auto;
    position:relative;
}
.edit-cont-box .tip-error{
    position:absolute;
    right:0.2rem;
    top:0;
    font-size: .24rem;
    line-height: .6rem;
    height: .55rem;
    font-weight:100;
}
td.edit-cont input[type='text'],
td.edit-cont input[type='date'],
td.edit-cont input[type='number']
{
    font-size: .34rem;
    line-height: .55rem;
    height: .55rem;
    width: 4.7rem;
    padding: 0 0.2rem;
    color: #191e6c;
    border: 0;
    font-weight: 100;
    border-radius: 0.08rem;
    background-color: #fff;
        overflow: hidden;
    box-shadow: inset 0 0 0.3rem #b9bcd4;
}
td.edit-cont.edit-error input[type='text'],
td.edit-cont.edit-error input[type='date'],
td.edit-cont.edit-error input[type='number']{
    box-shadow: inset 0 0 0.3rem #fc7070;
    color:#fc7070;
}

td.edit-cont select.select-province,
td.edit-cont select.select-city
{
    font-size: .34rem;
    line-height: .55rem;
    width: 40%;
    height: .55rem;
    padding: 0 0.2rem;
    color: #191e6c;
    border: 0;
    font-weight: 100;
    border-radius: 0.08rem;
        overflow: hidden;
    background-color: #fff;
    box-shadow: inset 0 0 0.3rem #b9bcd4;
}

td.edit-cont.edit-error select.select-province,
td.edit-cont.edit-error select.select-city{
    box-shadow: inset 0 0 0.3rem #fc7070;
    color:#fc7070;
}

.tip-error
{
    font-size: .24rem;
    line-height: 180%;

    display: none;

    color: #fc7070;
}

.edit-error .tip-error
{
    display: block;
}

.input-unit
{
    font-size: .24rem;
    line-height: .48rem;

    position: absolute;
    top: 0;
    right: 10%;

    width: .5rem;
    height: .48rem;

    text-align: right;

    color: #333;
}

td.edit-cont select.select-4S
{
    font-size: .24rem;
    line-height: .48rem;

    float: left;

    width: 95%;
    height: .48rem;
    margin-right: 5%;
    padding: 0 0 0 .2rem;

    color: #020e4e;
    border: 0;
    background-color: #fff;
    box-shadow: .04rem .04rem 0 #cc9834;
}

td.edit-alert
{
    text-align: left;
}

td.td-sex
{
    line-height: 180%;

    color: #fff;
}

td.td-sex label
{
    display: inline-block;

    width: 45%;

    vertical-align: middle;
}

td.td-sex label input
{
    display: inline-block;

    width: .23rem;
    height: .23rem;

    vertical-align: middle;
}

td.td-sex label span
{
    display: inline-block;

    vertical-align: middle;
}

.dealer-edit-cont-btn
{
    font-size: 0;

    padding-top: .42rem;
    padding-bottom: .31rem;

    text-align: center;
}

.dealer-edit-cont-btn .btn-confirm{
    padding:0 0.6rem;
    height:0.8rem;
    line-height:0.8rem;
    display:inline-block;
    color:#191e6c;
    font-size:0.44rem;
    font-weight: 100;
}

/*.btn-pub,
.btn-pub span
{
    font-size: .28rem;
    line-height: .56rem;

    display: inline-block;

    width: 1.91rem;
    height: .56rem;

    text-align: center;

    color: #fff;
}

.btn-pub
{
    transform: skew(-45deg, 0deg);

    background-color: #cc9834;
}

.btn-pub span
{
    transform: skew(45deg, 0deg);
}*/


.contest-subtitle{
    height:1.33rem;
    padding:0.2rem 0 0.1rem 0;
    font-size: 0.44rem;
    color: #191e6c;
    display:flex;
    align-items:center;
    justify-content:center;
}
.contest-subtitle .contest-subtitle-tip{
    font-size:0.24rem;
}
.contest-subtitle-text{
    display:block;
    text-align:center;
    margin:0 auto;
}
.contest-subtitle::after{
    height:1.33rem;
    width:0;
    content:'';
    overflow:hidden;
    display:inline-block;
    vertical-align: middle;
}
.contest-list{
    width:9.7rem;
    margin: 0 auto;
}
.contest-item{
    width:4.38rem;
    height:3.58rem;
    margin: 0 0.13rem 0.42rem 0.13rem;
    overflow:hidden;
    float:left;
    font-size:0;
    position:relative;
    border-radius:  0.1rem;
    border: 0.1rem solid #191e6c;
    background-color: #fff;
    padding:0;
}
.contest-item img{
    width:4.38rem;
    height:3.58rem;
    font-size:0;
    display:block;
}
.contest-item .contest-item-name{
    width:4.38rem;
    height:3.58rem;
    line-height:3.58rem;
    position:absolute;
    text-align:center;
    top:0;
    left:0;
    font-size:0.6rem;
    color:#fff;
    text-shadow: 0 0rem 0.5rem #000;
    text-indent: 0.15rem;
    letter-spacing: 0.15rem;
    font-weight:bold;
}

.contest-list-btn
{
    padding-top: .2rem;
    text-align:center;
    font-size:0;
}
.contest-list-btn .contest-return{
    padding: 0 0.6rem;
    height: 0.8rem;
    line-height: 0.8rem;
    display: inline-block;
    color: #191e6c;
    font-size: 0.44rem;
    font-weight: 100;
}
.contest-map{
    width:9.22rem;
    height: 7.78rem;
    margin:0 auto 0.42rem auto;
    border-radius:  0.1rem;
    border: 0.1rem solid #191e6c;
    background-color: #fff;
    padding:0;
}

.rule-box{
    width:7.2rem;
    margin:0.17rem auto 0 auto;
    padding-bottom: 2.5rem;
}
.rule-box-cont{
    padding:0.9rem 0.2rem 0.6rem 0.45rem;
    color:#191e6c;
    text-align:left;
    font-size:0.3rem;
    list-style:square;
}
.rule-box-cont li{
    line-height:  150%;
    padding-bottom:0.2rem;
    margin-left:0.3rem;
    text-align:left;

    list-style:square;
}
.rule-list-btn,.gift-list-btn
{
    padding-top: .2rem;
    text-align:center;
    font-size:0;
}

.rule-btn,.gift-btn{
    padding: 0;
    height: 0.8rem;
    width: 2.48rem;
    line-height: 0.8rem;
    display: inline-block;
    color: #191e6c;
    font-size: 0.44rem;
    font-weight: 100;
    margin: 0 0.23rem;
}


.gift-box{
    width:8.82rem;
    margin:0.17rem auto 0 auto;
    padding-bottom: 2.5rem;
}
.gift-search-box{
    height: 1rem;
    border-bottom: 0.1rem solid #191e6c;
    position:relative;
    font-size:0;
}
.gift-search-box input{
    width:7.06rem;
    height: 0.84rem;
    padding:0 0.15rem;
    margin:0.08rem 0 0 0.08rem;
     background-color: #fff;
    overflow: hidden;
    box-shadow: inset 0 0 0.3rem #333;
    border:0;
    font-size:0.32rem;
}
.gift-search-btn{
    width:1.37rem;
    height:0.84rem;
    background:url(../../images/public/search-btn.png) no-repeat 0 0;
    background-size: 100% 100%;
    position:absolute;
    right:0;
    top:0.08rem;
}
.gift-box-cont{
    height:7.86rem;
    margin: 0.08rem 0.08rem;
    padding: 0.55rem 0.15rem 0.3rem 0.3rem;
    overflow-y:auto;
    overflow-x:hidden;
    box-shadow: inset 0 0 0.3rem #333;
}
.gift-box-cont td{
    font-size:0.3rem;
    color:#191e6c;
    text-align:center;
    padding: 0.14rem 0;
}




.game-rotate{
  /*width:8.93rem;
  height:8.93rem;*/
  width:9.5rem;
  /*height:9.5rem;*/
  margin: 1.45rem auto;
  overflow: hidden;
  position:relative;
}
.game-rotate-needle{
      width:2.02rem;
      height:3.15rem;
      position:absolute;
      top:0;
      left:50%;
      margin-left:-1.01rem;
      background-image: url("../../images/rotate/rotate-zz.png");
  background-size:100% 100%;
  background-repeat:no-repeat;
}
.game-rotate-bg{
  width:9.5rem;
  height:9.5rem;
  background-image: url("../../images/rotate/rotate-bg.png");
  background-size:100% 100%;
  background-repeat:no-repeat;
  position:relative;
  margin-top:1.07rem;
}

.game-rotate-img{
  width:9.27rem;
  height:9.27rem;
  position:absolute;
  top:0.12rem;
  left:0.12rem;
}
.game-rotate-img img{
  width:9.27rem;
  height:9.27rem;
}
.game-rotate-rel{
  width:9.27rem;
  height:9.27rem;
  position:relative;
}
.game-rotate-btn{
  position:absolute;
  width:2.99rem;
  height:2.99rem;
  margin:-1.495rem 0 0 -1.495rem;
  top:50%;
  left:50%;
  background-image: url("../../images/rotate/rotate-go.png");
  background-size:100% 100%;
  background-repeat:no-repeat;
}
.pop-prize-box{
     width: 8.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius:  0.1rem;
  border: 0.1rem solid #191e6c;
  background-color: #fff;
  text-align: center;
  z-index: 35;
  height:6.7rem;
  -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
.pop-prize-box-cont{
 padding:0.8rem 0 1rem 0;
}
.prize-title{
    font-size: 0.72rem;
    text-align:center;
    padding: 0.2rem 0;
    line-height: 150%;
}
.fb{font-weight: bold;}
.prize-info{
    font-size: 0.44rem;
    text-align:center;
    padding: 0.1rem 0;
    line-height: 150%;
}
.f60{
    font-size:0.6rem;
}
.prize-info.f60{
    font-size:0.6rem;
    padding: 0 0 0.1rem 0;
}
.prize-success{
    color:#191e6c;
}
.prize-error{
    color:#e56e55;
}

.pop-prize-box-btn{
    text-align:center;
}
.pop-prize-box-btn a{
    text-align:center;
    font-size: 0.44rem;
    border-radius:  0.1rem;
  border: 0.1rem solid #191e6c;
  color:#191e6c;
  height: 1.22rem;
  line-height: 1.22rem;
  padding: 0 0.6rem;
  display: inline-block;
  text-decoration: none;
}