@charset "UTF-8";
html,body{
	width: 100%;
 	height:100%;
 	padding:0;

}
.index-cont img{
	display:block;
}

.index-menu{
	text-align: center;
	font-size:0;
	padding-top: 0.97rem;
}
.index-menu-item{
	display:inline-block;
	width:4rem;
	height: 1.3rem;
	line-height: 1.3rem;
	border-radius:  0.1rem;
	border: 0.1rem solid #191e6c;
	background-color: #fff;
	font-size:0.44rem;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	margin:0 0.09rem 0.16rem 0.09rem;
	color:#191e6c;
}